.logo{min-height: 50px;background-color: black;color: white;}
.text_logo{text-align: center;margin-top: 5px;font-family: 'Lemonada', cursive;font-size: 30px}
.social{text-align: center;margin: 5px;}
.services{margin-top: 10px;text-align: center}
.services h2{margin:0 auto}
.spisok{margin-top: 10px}